body{
    /*Remember that fonts with spaces in the name must be wrapped in quotes for CSS.*/
    font-family: "Open Sans",sans-serif;
}

html{
    font-size: 16px;
}
/*If you inspect your .label element with your browser's developer tools, you may notice that it's actually 288 pixels wide instead of 270. This is because, by default, the browser includes the border and padding when determining an element's size.*/
.label{
    border: 2px solid black;
    width: 270px;
    margin:20px auto;
    padding: 0 7px;
}

/* '*' is Selects all elements */
*{
    box-sizing: border-box;
}

header h1{
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px;
}

p{
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-between;
}

.divider{
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}

.bold{
    font-weight: 800;
}

.large{
    height: 10px;
}

.large, .medium{
    background-color: black;
    border: 0;
}

.small-text{
    /*The rem unit stands for root em, and is relative to the font size of the html element.*/
    /*0.85rem, which would calculate to roughly 13.6px*/
    font-size: 0.85rem;
}

.calories-info h2{
    margin: 0 0 0 0;
}

.calories-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.left-container p{
    margin: -5px -2px;
    font-size: 2em;
    font-weight: 700;
}

.calories-info span{
    font-size: 2.4em;
    font-weight: 700;
    margin: -7px -2px;
}

.medium{
    height: 5px;
}

.right{
    justify-content: flex-end;
}

.indent{
    margin-left: 1em;
}

/*The :not pseudo-selector can be used to select all elements that do not match the given CSS rule.*/
/*Modify your .daily-value p selector to exclude the .no-divider elements.*/
.daily-value p:not(.no-divider){
    border-bottom: 1px solid #888989;
}

.double-indent{
    margin-left: 2em;
}

.note{
    font-size: 0.6rem;
    margin: 5px 0px;
    padding: 0px 8px;
    /*The text-indent property specifies the indentation of the first line in a text-block.*/
    text-indent: -8px;
}

