body{
    /*The vh unit stands for viewport height, and is relative to 1% of the height of the viewport.*/
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color:#f5f6f7;
    font-family:Tahoma;
    font-size: 16px;
}

label{
    display: block;
    /*The rem unit stands for root em, and is relative to the font size of the html element.*/
    margin: 0.5rem 0;
}

h1,p{
    margin: 1em auto;
    text-align: center;
}

form{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width:60vw;
}

fieldset{
    padding:2rem 0;
    border: 0;
    border-bottom: 3px solid #3b3b4f;
    
}

body{
    /*The vh unit stands for viewport height, and is relative to 1% of the height of the viewport.*/
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color:#f5f6f7;
    font-family:Tahoma;
    font-size: 16px;
}

label{
    display: block;
    /*The rem unit stands for root em, and is relative to the font size of the html element.*/
    margin: 0.5rem 0;
}

h1,p{
    margin: 1em auto;
    text-align: center;
}

form{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width:60vw;
    padding-bottom: 2em;
}

fieldset{
    padding:2rem 0;
    border: 0;
    border-bottom: 3px solid #3b3b4f;
    
}
/*this called is CSS pseudo-class help find last type in html*/
fieldset:last-of-type{
    border-bottom: none;
}

input,select,textarea{
    width: 100%;
    margin: 10px 0 0 0;
}

.inline{
    /* unset. This will remove the earlier rule which set all the input elements to width: 100%.*/
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input,textarea{
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

input,textarea,select{
    min-height: 2em;
}

/*help access type of input*/
input[type="submit"]{
    display: block;
    margin: 1em auto 1em auto;
    width:60%;
    min-width: 300px;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
}

input[type="file"]{
    padding: 1px 2px;
}

a{
    color: #dfdfe2;
}
