body{
    background-color: #f5f6f7;
    color: #1b1b32;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#logo{
    width: max(100px,18vw);
    background-color: #0a0a23;
    /*The aspect-ratio property allows you to define the ratio between width and height of an element.*/
    aspect-ratio: 35/4;
    padding: 0.4rem;
}

header{
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

h1{
    color: #f1be32;
    font-size: min(5vw,1.2em);
    text-align: center;
}

main{
    padding-top: 25px;
}

nav{
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav>ul{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0px;
    padding-top: 60px;
}

.sr-only{
    position:absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip:rect(0,0,0,0);
}

p::before{
    content: "Question #";
}

nav li{
    color: #dfdfe2;
    margin:0 0.2rem;
    padding: 0.2rem;
    display: block;
}

li>a{
    color: inherit;
    text-decoration: none;
}


nav>ul>li:hover{
    color: #1b1b32;
    background-color: #dfdfe2;
    cursor: pointer;
}

section{
    width: 80%;
    max-width: 600px;
    margin: 0px auto 10px auto;
}

.info{
    padding: 10px 0 0 5px;
}

.formrow{
    margin: 10px 0 0 0;
    padding: 0 1px 0 1px;
}

input{
    font-size: 15px;
}

.info>input{
    width: 50%;
    text-align: left;
}

.info>label{
    width: 10%;
    min-width: 55px;
    text-align: right;
}

.info>label, .info>input{
    display: inline-block;
}

.question-block{
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
}

p{
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
}

.question{
    border: none;
    padding-bottom: 0px;
}

.answers-list{
    list-style: none;
    padding: 0;
}

button{
    display: block;
    margin: 40px auto;
    width: 40%;
    padding: 15px;
    font-size: 23px;
    background: #d0d0d5;
    border: 3px solid #3b3b4f;
}

footer, footer a{
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
    color: #dfdfe2;
}

address{
    text-align: center;
    padding: 1px 1px 1px 1px;
}

/*The @media at-rule has a media feature called prefers-reduced-motion to set CSS based on the user's preferences. It can take one of the following values:*/
/*reduce or no-preference*/
/*read more: https://www.w3schools.com/cssref/css3_pr_mediaquery.php*/

@media (prefers-reduced-motion: no-preference) {
    *{
        scroll-behavior: smooth;
    }
}